{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block navbar %}
    {% include 'core/navbar.html' %}

{% endblock %}
    {% get_current_language as LANGUAGE_CODE %}
{% block style %}
{% endblock %}
{% load crispy_forms_tags %}
{% block main %}
<div class="d-flex justify-content-center" >

<form action="" method="POST" class="w-50" id="" {% if LANGUAGE_CODE == 'fa' %} style="direction: rtl" {% endif %}>
    <p class="mt-5" style="color: red">{% translate 'ٰDue to the design, the price may increase after review' %}</p>
    {% csrf_token %}
    {{ form }}
        <div class="form-group form-button">

        <button type="submit" class="btn btn-outline-primary mt-4">{% translate 'Submit' %} </button>

    </div>
</form>
</div>
{% endblock %}
{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}
{% block script %}
    <script>

    const lang = '{{ LANGUAGE_CODE }}'
    function get_feeling_price() {
        const e =  document.getElementById('id_feeling_id')
        var value = e.value;
        var text = e.options[e.selectedIndex].text;
        var regExp = /\(([^)]+)\)/;
        var matches = regExp.exec(text);
        if (matches){
        return matches[1].split(' ')[0]}
        else return false
    }
        function get_taste_price() {
        const e =  document.getElementById('id_taste_id')
        var value = e.value;
        var text = e.options[e.selectedIndex].text;

        var regExp = /\(([^)]+)\)/;
        var matches = regExp.exec(text);

        if (matches){
        return matches[1].split(' ')[0]}
        else return false
    }
            function get_amount() {
        const e =  document.getElementById('id_amount').value

        if (e){
        return e}
        else return false
    }
    document.getElementById('id_feeling_id').onchange= change_price
    document.getElementById('id_taste_id').onchange= change_price
    document.getElementById('id_amount').onchange= change_price


        function change_price () {
        var feeling_price = get_feeling_price()
        var  taste_price = get_taste_price()
        var  amount = get_amount()
          console.log(amount)
        let price = 180000
        if (feeling_price){
            price+=Number(feeling_price)
        }
        if (taste_price){
            price+=Number(taste_price)
        }
        let price_lang = ''
        if (lang === 'en'){
            price_lang = `price / each kilo (${price} IR)`
        }else {
            price_lang =`قیمت / هر کیلو (${price} تومان)`
        }
        document.getElementById('id_price').labels[0].innerText = price_lang
         if (amount){
        document.getElementById('id_price').value = Number(amount) * price}
         else document.getElementById('id_price').value = ''
    }
    </script>
{% endblock %}