{% extends 'core/home.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block main %}
    <section class="vh-100" style="background-color: rgb(170,160,160)">
      <div class="container h-100" style="background-color:rgba(244,224,221)">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5 h-50">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">{% translate 'Sign up'  %} </p>

                    <div class="mx-1 mx-md-4">
  <form action="{% url 'user:signup' %}" method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="first_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{ form.first_name }}
                            </div>
                            <div class="form-group">
                                <label for="last_name"><i class="zmdi zmdi-account-box"></i></label>
                                {{ form.last_name }}
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-phone"></i></label>
                                {{ form.phone }}
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                {{ form.password1 }}
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                {{ form.password2 }}
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all
                                    statements in <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">

                                <input type="submit" name="signup" id="signup" class="form-submit" value="{% translate 'submit' %}"/> <h6 class="mt-2"> {% translate 'already user?' %} <a href="/{{ LANGUAGE_CODE }}/login/">{% translate 'Login' %}</a></h6>

                            </div>

                        </form>
                    </div>

                  </div>
                  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                    <div class="row">
                    <img src="{% static 'draw1.png' %}"
                      class="img-fluid" alt="Sample image">
                                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

{% endblock %}