{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}django_admin_log
{% block navbar %}
    {% include 'core/navbar.html' %}

{% endblock %}

{% block main %}

    <div id="category" class="scrollmenu ">


      </div>
    <div id="products_con" class="container-fluid d-flex">

        <div id="products" class="row flex-row">

        </div>
        </div>
{% endblock %}
{%  block mob-nav %}
{% include 'core/mobile-navbar.html' %}
{% endblock %}
{% block footer %}
{% include 'core/footer.html' %}
{% endblock %}


{% block script %}
<script>
    {% get_current_language as LANGUAGE_CODE %}
    const lang = '{{ LANGUAGE_CODE }}'
async function load_category(){

    const result = await fetch('http://127.0.0.1:8000/product/category_list/')
    const json_result = await result.json()

    const cat = document.createElement('div')
    cat.className = 'cat'
    cat.style.width ='200px'
    cat.id = 'all'
    const img_div = document.createElement('div')
    img_div.className = 'd-flex row align-content-center justify-content-center'
    img_div.style.height = '120px'
    const img = document.createElement('img')
    img.className = 'rounded-circle'
    img.style.width = '120px'
    img.style.height = '100px'
    img.alt = 'avatar'
    img.src ='http://127.0.0.1:8000/media/draw1.png'
    img_div.append(img)
    const category_name = document.createElement('div')
    category_name.className = 'd-flex row align-content-center text-center justify-content-center'
    category_name.style.height = '40px'
    const p = document.createElement('p')
    if(lang === 'fa'){
    p.innerHTML = 'همه'}
    else {
        p.innerHTML = 'all'
    }
    category_name.append(p)
    cat.append(img_div,category_name)
    cat.addEventListener("click", function () {
    load_products('all');})
    document.getElementById('category').append(cat)
    json_result.forEach(element=>{
    const cat = document.createElement('div')
    cat.className = 'cat'
    cat.style.width ='200px'
    const img_div = document.createElement('div')
    img_div.className = 'd-flex row align-content-center justify-content-center'
    img_div.style.height = '120px'
    const img = document.createElement('img')
    img.className = 'rounded-circle'
    img.style.width = '120px'
    img.style.height = '100px'
    img.alt = 'avatar'+element.id
    img.src = element.img
    img_div.append(img)
    const category_name = document.createElement('div')
    category_name.className = 'd-flex row align-content-center text-center justify-content-center'
    category_name.style.height = '40px'
    const p = document.createElement('p')
        if(lang === 'fa'){
    p.innerHTML = element.category_name_fa}
    else {
        p.innerHTML = element.category_name_en
    }

    category_name.append(p)
    cat.append(img_div,category_name)
    cat.addEventListener("click", function () {
    load_products(element.id);
});
    document.getElementById('category').append(cat)
    })

        document.getElementById('all').click()
}



</script>
<script>
    load_category();

</script>
 <script>
     {#sessionStorage.clear()#}
async function load_products(category_id){

    const result = await fetch('http://127.0.0.1:8000/product/product_list/'+category_id)
    const json_result = await result.json()

        var e = document.getElementById('products')
        var child = e.lastElementChild;
        while (child) {
            e.removeChild(child);
            child = e.lastElementChild;
        }
    json_result.forEach(element=>{
        let name =''
        let des = ''
        let unit = ''
        let count = ''
        let select_weight = ''
        let select_num = ''
        let class_name = ''
        let del = ''
        let money = ''
        let disabled_w = ''
        let disabled_c = ''
      if (lang === 'en' ){
           name = element['product']['product_name_en']
           des = element['product']['description_en']
          if(element['count']){
          unit = 'each number'
          }else {
              unit = 'each kilo'
          }
          class_name = 'd-flex flex-row m-2'
          count = 'count'
          select_weight = 'weight(kilos)'
          select_num = 'Number'
          money = 'IR'
      }
      else {
           name = element['product']['product_name_fa']
           des = element['product']['description_fa']
          if(element['count']){
          unit = 'هر عدد'
          }else {
              unit = 'هر کیلو'
          }
          class_name = 'd-flex flex-row-reverse m-2'
          count = 'مقدار'
          select_weight = 'وزن(کیلو)'
          select_num = 'عدد'
          money = 'تومان'

      }
                if(element['count'] && !element['kilo']){
              disabled_w ='disabled'
          }
          else if (!element['count'] && element['kilo']){
              disabled_c = 'disabled'
          }
        if (element['after_discount']){
            del = `<del style="margin-right: 15px;margin-left: 15px"> ${element['price']} </del> <h6 style="color: red;margin-right: 15px;margin-left: 15px">${element['after_discount']}</h6><h6>${money}</h6>`
        }else {
            del =  `<h6 style="margin-right: 15px;margin-left: 15px">${element['price']}</h6> <h6>${money}</h6>`
        }
   sessionStorage.setItem(element['id'],JSON.stringify(element))
   let item = JSON.parse(sessionStorage.getItem('shop_card'))

        let item_value = ''
        let item_type_count = ''
        let item_type_weight = ''
   if (item){
       item = item[element['id']]
       if(item){

       item_value = item['shopping_info']['count']
       if(item['shopping_info']['type']==='Number' || item['shopping_info']['type']==='عدد'){
            item_type_count = 'selected'
       }else {
            item_type_weight = 'selected'
       }}
   }
    const html = `          <div class="d-flex flex-row  mt-4 mb-4" style="min-width: 400px; max-width: 600px; height: 210px;">

            <div  class="card ">

                <div class="d-flex flex-row h-100">
        <div class="d-flex flex-column col-7">

            <div class="${class_name}"  onclick="detail_product(${element['id']})"  style="height: 20%;"><p class="">${name}</p></div>
        <div class="${class_name}"  onclick="detail_product(${element['id']})"  style="height: 40%;">
        ${des}
        </div>
        <div class="${class_name}"  onclick="detail_product(${element['id']})"  style="height: 20%;"><h6> ${unit} </h6>  ${del}
        </div>
        <div class="d-flex  flex-row-reverse justify-content-around " style="height: 20%;">
         <div class="d-flex flex-colum">
            <select id="menu_${element['id']}" value="${select_weight}" style="height: 25px;width: 100px;">
                <option ${item_type_count} ${disabled_c}>${select_num}</option>
                <option ${item_type_weight} ${disabled_w} >${select_weight}</option>
            </select>

         </div>

         <div class="d-flex flex-column">
                <input id="${element['id']}" type="number" value="${item_value}" step="0.5" id="inputPassword2" placeholder="${count}" size="7" style="height: 25px;width: 100px;">
            </div>
            <div  class="d-flex flex-column">
                <i   class="fa fa-plus" aria-hidden="true" onclick="test(${element['id']})"   style="font-size:24px;"></i>

             </div>
        </div>
        </div>
        <div class="d-flex flex-column col-5  "  onclick="detail_product(${element['id']})" >
            <img class="card-img-top w-100 h-100" src="${element['product']['img']}" alt="Card image cap">

        </div>
                </div>
            </div>

        </div>`

       document.getElementById('products').innerHTML += html

    })

}

function detail_product(product_id){
    window.location.href = `http://127.0.0.1:8000/${lang}/product/detail/${product_id}`
}
 function test(id) {
     let item_count = Number(document.getElementById(id).value)
     console.log(item_count)
     if(item_count && item_count !== 0){
     let product = JSON.parse(sessionStorage.getItem(id))
     let shopping_info = {'count':item_count,'type':document.getElementById("menu_"+id).value}
     let shop_card = sessionStorage.getItem('shop_card')
     product['shopping_info'] = shopping_info
     let flag = false
     let ls = {}
     ls[product['id']] = product
     if (shop_card){
         shop_card = JSON.parse(shop_card)
         const len_shop = Object.keys(shop_card).length
         shop_card[product['id']] = product
         sessionStorage.setItem('shop_card',JSON.stringify(shop_card))
         if(len_shop !== Object.keys(shop_card).length){
             flag = true
         }
     }
     else {
          sessionStorage.setItem('shop_card',JSON.stringify(ls))
         flag = true
     }
     if (flag){
                  document.getElementById('shopp_count').innerHTML = Number(document.getElementById('shopp_count').innerHTML)+1

     }}
     console.log(JSON.parse((sessionStorage.getItem('shop_card'))))

 }
        {# sessionStorage.clear()#}
        {#localStorage.clear()#}
 </script>
 <script>




 </script>
{% endblock %}