		<div class="sticky-top">
			<div class="d-none d-lg-block">
		    <nav class="navbar">
        <div class="d-flex flex-row w-100">
            <div class="col">        <a href="#" class="navbar-logo"
                ><i class="material-icons">fastfood</i> foodRoad</a
              ></div>
            <div class="d-flex flex-column justify-content-center align-content-center">
                                <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
                <div class="search-box">

                <input class="search-input" type="text" name="" placeholder="Pesquise">
                <a href="#" class="search-btn">
                  <i class="fas fa-search"></i>
                </a>
              </div></div>
            <div class="d-flex flex-column justify-content-end" style="margin-right: 50px;">        <ul class="navbar-links">
                <li class="navbar-dropdown">
                  <a href="/">Home</a>
                </li>
                {% if  request.user.is_authenticated %}
                <li class="navbar-dropdown">

                  <a href="#">{{ request.user.last_name }} {{ request.user.first_name }}</a>
                  <div class="dropdown">
                    <a href="/profile/">Profile</a>
                    <a href="/logout/">Log Out</a>
                  </div>
                </li>
                {% endif %}
                <li class="navbar-dropdown">
                  <a href="#">Cake Designing</a>
                </li>
                <li class="navbar-dropdown">
                  <a href="#">Card items</a>
                </li>
              {% if request.user.is_authenticated is False %}
                <li class="navbar-dropdown">
                  <a href="/login">Log in / Register</a>
                </li>
            {% endif %}
              </ul></div>
        </div>


      </nav>
              </div>
        </div >